@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #fff;
    --bg-secondary: #e8e8e9;
    --border: #d7d7d7;
    --text-primary: #080808;
    --link--primary: #00f;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #222325;
    --bg-secondary: #2B2C2E;
    --border: #d0d0d0;
    --text-primary: #fff;
    --link--primary: #00f;
  }
} */
