@font-face {
  font-family: 'Iosevka';
  src: url('../fonts/iosevka-ss01-regular.woff') format('woff');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../fonts/iosevka-ss01-bold.woff');

  font-style: bold;
  font-weight: bold;
}
