on: [push, pull_request]

jobs:
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: ['16.x']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        version: '16.x'
    - name: Install dependencies
      run: |
        npm i
    - name: Running linters
      run: |
        npm run lint

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node_version: ['12.x', '14.x', '16.x']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        version: ${{ matrix.node_version }}
    - name: Install dependencies
      run: |
        npm i
    - name: Install packages dependencies
      run: |
        npx lerna bootstrap
    - name: Running tests
      run: |
        npx lerna run test
